body{
    background-color: #EDDDC4;
}

h3{
    text-align: center;
    color: #50746C;
}

h3:first-of-type{
    margin-top: 2%;
}

.container{
    background-color: transparent;
    margin-top: 2%;
    width: 900px;
    padding: 0px;
    border-radius: 20px;
}

.col-lg-12:first-child{
    border-bottom: 1px solid #50746C;
    padding: 0;
}

.col-lg-12 button{
    width: 200px;
    height: 50px;
    color:black;
    background:transparent;
    border: 1px solid #50746C;
    transition: 0.2s all;
    font-size: 20px;
    font-weight: 700;
}

.col-lg-12 button:hover{
    color: white;
    background-color: #50746C;
}

.row{
    margin-top:1%;
}

.row P{
    text-align: center;
    font-weight: 700;
}

.acceptButton{
    width: 100%;
    border-radius: 20px;
    background-color: #1da826;
    border-color: #1da826;
    color:white;
    transition: 0.2s all;
}

.acceptButton:hover{
    color: #1da826;
    background-color:  #EDDDC4;
}

.rejectButton{
    width: 100%;
    border-radius: 20px;
    background-color: #a81f1d;
    border-color: #a81f1d;
    color:white;
    transition: 0.2s all;
}

.rejectButton:hover{
    color: #a81f1d;
    background-color:  #EDDDC4;
}

.reviewButton{
    width: 100%;
    border-radius: 20px;
    background-color: #a6a81d;
    border-color: #a6a81d;
    color:white;
    transition: 0.2s all;
}

.reviewButton:hover{
    color: #a6a81d;
    background-color:  #EDDDC4;
}

.col-lg-6 a{
    width: 100%;
    height:50px;
}

button:focus{
    outline:none;
}